.root {
  position: relative;
  display: flex;
  align-items: center;
  padding: var(--vd-spacing-xs);
  background-color: white;
  width: 200px;
  height: 50px;
  border: 2px solid var(--vd-color-info-200);
  background-color: var(--vd-color-info-100);
  border-radius: 4px;
}

.bound {
  background-color: var(--color);
}

.bound::after {
  content: '';
  position: absolute;
  background: #dadadd
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABGdBTUEAALGPC/xhBQAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAACKADAAQAAAABAAAACAAAAAC2TFloAAAAE0lEQVQYGWPYv//QfwZCYPgrAgBinxn5LVbUIwAAAABJRU5ErkJggg==)
    repeat scroll;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  opacity: 0.5;
  pointer-events: none;
}

.icon {
  font-size: 20px;
  color: var(--vd-color-info-700);
  z-index: 1;
}

.content {
  flex: 1;
  margin-left: var(--vd-spacing-xs);
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--vd-color-gray-800);
  z-index: 1;
}
