.tag {
  color: var(--vd-color-font-regular) !important;
  white-space: pre-wrap !important;
  word-break: break-all;
  margin: 3px;

  :global(.ant-tag-close-icon) {
    color: var(--vd-color-font-primary) !important;
  }
}
