.root {
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  background: var(--vd-color-bg);
  width: 400px;
  padding: var(--vd-spacing-sm);
  border-radius: var(--vd-border-radius-md);
}

.groups {
  margin: var(--vd-spacing-md) 0;
  line-height: var(--vd-font-line-height-h1);
  max-height: 50vh;
  overflow-y: auto;
}

.head,
.item {
  display: flex;
  justify-content: space-between;
}
.head {
  background: var(--vd-color-gray-300);
  padding-left: var(--vd-spacing-base);
  padding-right: var(--vd-spacing-sm);
  margin-bottom: 1px;
}

.item {
  background: var(--vd-color-gray-200);
  padding-left: var(--vd-spacing-lg);
  padding-right: var(--vd-spacing-sm);
  cursor: pointer;
}
