.menu {
  background-color: white;
  border: 1px solid var(--vd-color-border-light);
  padding: var(--vd-spacing-sm) var(--vd-spacing-xs);
  border-radius: var(--vd-border-radius-base);
  box-shadow: 0 6px 16px 0 rgb(0 0 0 / 8%), 0 3px 6px -4px rgb(0 0 0 / 12%), 0 9px 28px 8px rgb(0 0 0 / 5%);
  min-width: 300px;
  max-width: 600px;
  max-height: 60vh;
  overflow: auto;
}

.ctorParams {
  margin-left: 4%;
  padding-left: var(--vd-spacing-xs);
  border-left: 1px dashed var(--vd-color-border-lighter);
}

.ctorParam {
  position: relative;
  margin-top: var(--vd-spacing-xs);
}

.ctorType {
  width: 100%;
  min-width: 184px;
}

.ctorLabel {
  font-size: var(--vd-font-size-h6);
  color: var(--vd-color-font-regular);
}

.cascaderDisplay {
  display: flex;
  align-items: center;
  gap: 3px;
}

.refLabel {
  display: flex;
  gap: 3px;
  align-items: center;

  .refType {
    font-size: 12px;
    background-color: var(--color);
    border-radius: 3px;
    padding: 0 2px;
    color: var(--vd-color-gray-800);
    line-height: 1.2;
  }

  .refParent {
    max-width: 8em;
    font-style: italic;
    color: var(--vd-color-gray-700);
    font-weight: bold;
    padding-right: 3px;
  }

  .refParent,
  .refName {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .refName {
    max-width: 12em;
  }
}
