.root {
  :global {
    .ant-pro-table-search {
      margin-block-end: 0;
    }
    .ant-pro-table-list-toolbar-container {
      padding-block-start: 0;
    }
  }
}

.title {
  font-size: 14px;
}

.green {
  color: green;
}
.orange {
  color: orange;
}
