registry=https://registry.npmmirror.com
@wakeadmin:registry=https://registry.npmjs.org
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips
sentrycli_cdnurl=https://cdn.npmmirror.com/binaries/sentry-cli