.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  height: 45px;
}

.body {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.content {
  flex: 1;
}
