.root {
  display: flex;
  padding: var(--vd-spacing-xs);
  width: 200px;
  background-color: #f8f1e6;
  border: 2px solid var(--vd-color-warning-100);
}

.icon {
  font-size: 20px;
  color: var(--vd-color-warning-700);
}

.content {
  flex: 1;
  margin-left: var(--vd-spacing-xs);
  font-size: 13px;
  line-height: 1.5;
  cursor: text;
  padding: 0 2px;
  white-space: pre-wrap;

  &:global(:not(.editing)) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
}
