.planStatusHeader {
  font-size: 1.1rem;
  color: #000;
}
.planStatusName {
  color: rgb(39, 26, 221);
  font-size: 1.6rem;
  margin: 0.6rem 0;
}
.planStatusInfo {
  width: 400px;
  display: flex;
  align-items: center;
  margin-top: 4px;
}
.progress {
  margin-bottom: 3px !important;
}
.planStatusInfoText {
  width: 78%;
  margin-left: 6px;
}

.nowrap {
  white-space: nowrap;
}
.flex {
  display: flex;
  align-items: center;
}
.planList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.planBody {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.planName {
  font-weight: 500;
  width: 100%;
  margin: 8px 0;
}

.planPrice {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 8px 0;
  width: 100%;
}

.planDescName {
  width: 90px;
  padding-right: 12px;
}
.planDescContent {
  width: calc(100% - 90px - 30px - 12px);
  word-break: break-all;
}
