.root {
  --H: 70vh;
  :global(.ant-modal-header) {
    margin-bottom: 16px;
  }

  :global(.ant-modal-body) {
    height: var(--H);
  }

  :global(.ant-tabs-tab) {
    justify-content: flex-end;
    margin-top: 0;
    padding: 2px 16px !important;
  }
}

.tabs {
  height: 100%;
  :global(.ant-tabs-content) {
    height: calc(var(--H, 100%) * 0.95);
    overflow-x: hidden;
    overflow-y: auto;
  }
}
