$border-color: var(--vd-color-primary-400);
$border-radius: 8px;
$pane-gap: var(--vd-spacing-xs);
$ghost-color: var(--vd-color-success-300);

.root {
  position: relative;
}

.lane {
  display: flex;
  position: relative;
  width: 100%;
  padding-bottom: $pane-gap;
}

.container {
  flex: 1;
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: $border-radius;
  border: 1px solid var(--vd-color-gray-300);
  margin-left: 2px;
  box-shadow: 1px 4px 6px -5px #b8b1b1;
}

.creator {
  position: absolute;
  font-size: 20px;
  background-color: white;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 8px;
  color: var(--vd-color-gray-800);
  opacity: 0.4;
  left: 4px;
  bottom: 14px;
  z-index: 100;
  cursor: pointer;
  pointer-events: all;

  &:hover {
    opacity: 1 !important;
    color: var(--vd-color-primary);
  }
}

.aside {
  width: 38px;
  background-color: var(--vd-color-gray-100);
  color: var(--vd-color-gray-800);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius;
  border: 1px solid var(--vd-color-gray-300);
  box-shadow: 1px 4px 6px -5px #b8b1b1;
  pointer-events: all;
}

.title {
  width: 1em;
  letter-spacing: 0;
  line-height: 1;
  user-select: none;
  display: inline-block;
  writing-mode: vertical-lr;
  font-weight: bold;
  pointer-events: all;
  padding: 4px;
  box-sizing: content-box;

  &::selection {
    background-color: var(--vd-color-primary-300);
    color: white;
  }
}

.icons {
  position: relative;
  top: 1em;
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  gap: 6px;
}

.icon {
  cursor: pointer;

  &:hover {
    color: var(--vd-color-primary);
  }
}

.resizerVertical,
.resizerHorizontal {
  position: absolute;
  background-color: gray;
  z-index: 3;
  pointer-events: all;
  --height: 4px;
  --width: 120px;
  border-radius: 5px;
  opacity: 0.5;

  &:hover,
  &:active {
    opacity: 1;
  }
}

.resizerHorizontal {
  height: var(--height);
  width: var(--width);
  cursor: row-resize;
}

.resizerVertical {
  width: var(--height);
  height: var(--width);
  cursor: col-resize;
}

.resizerRight {
  top: 50%;
  right: -6px;
  transform: translateY(-50%);
}

.resizerBottom {
  left: 50%;
  bottom: 2px;
  transform: translateX(-50%);
}

.ghost {
  position: absolute;
  border: 3px solid $ghost-color;
  border-radius: $border-radius;
  top: 0;
  left: 0;
  z-index: var(--vd-z-index-fixed);
}
