$border-color: var(--vd-color-primary-400);
$border-radius: 8px;
$pane-gap: var(--vd-spacing-xs);
$ghost-color: var(--vd-color-success-300);

.root {
  position: relative;
}

.lane {
  display: flex;
  position: relative;
  width: 100%;
  padding-bottom: $pane-gap;

  &:hover .creator {
    opacity: 0.7;
  }
}

.container {
  flex: 1;
  position: relative;
  background-color: var(--vd-color-gray-700);
  opacity: 0.4;
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.creator {
  position: absolute;
  font-size: 20px;
  background-color: white;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 25px;
  color: var(--vd-color-gray-800);
  opacity: 0.4;
  cursor: pointer;
  pointer-events: all;
  left: 50%;
  bottom: -12px;
  z-index: 100;

  &:hover {
    opacity: 1;
    color: var(--vd-color-primary);
  }
}

.aside {
  width: 30px;
  background-color: var(--vd-color-primary-300);
  color: var(--vd-color-primary-800);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid $border-color;
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  pointer-events: all;
}

.title {
  width: 1em;
  letter-spacing: 0;
  user-select: none;
  display: inline-block;
  writing-mode: vertical-lr;
  font-weight: bold;
  pointer-events: all;

  &::selection {
    background-color: white;
  }
}

.icons {
  position: relative;
  top: 1em;
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  gap: 6px;
}

.icon {
  cursor: pointer;

  &:hover {
    color: white;
  }
}

.resizerVertical,
.resizerHorizontal {
  position: absolute;
  background-color: transparent;
  z-index: 3;
  pointer-events: all;
  --width: #{$pane-gap};

  &:hover,
  &:active {
    background-color: $ghost-color;
  }
}

.resizerHorizontal {
  height: var(--width);
  width: 100%;
  cursor: row-resize;
}

.resizerVertical {
  width: var(--width);
  height: 100%;
  cursor: col-resize;
}

.resizerRight {
  top: 0;
  right: 0;
}

.resizerBottom {
  left: 0;
  bottom: 0;
}

.ghost {
  position: absolute;
  border: 3px solid $ghost-color;
  top: 0;
  left: 0;
  z-index: var(--vd-z-index-fixed);
}
