.root {
  min-width: 200px;
  max-width: 500px;
  background-color: #c7e0ff;
  border: 2px solid var(--vd-color-gray-900);
  border-radius: 5px;
  overflow: hidden;
}

.header {
  border-bottom: 1px solid var(--vd-color-gray-800);
  text-align: center;
  padding: var(--vd-spacing-sm) 4px;
  word-break: break-word;
  font-weight: bold;
}

.body {
  min-height: 10px;
}

.property {
  height: 28px;
  line-height: 28px;
  padding: 0 4px;
  font-size: var(--vd-font-size-h6);
  display: flex;
  align-items: center;

  &:hover {
    background-color: #ffffffb8;
  }
}

.name {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.title {
  max-width: 7em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--vd-color-font-regular);
  padding-left: 4px;
}
