.groups {
  margin-top: var(--vd-spacing-base);
  line-height: var(--vd-font-line-height-h1);
  max-height: 50vh;
  overflow-y: auto;
}

.head,
.item {
  display: flex;
  align-items: center;
  position: relative;
}

.head {
  padding-left: 4px;
  padding-right: var(--vd-spacing-sm);
  font-size: var(--vd-font-size-h4);
  height: 55px;
  line-height: 45px;
  margin-bottom: 4px;
  font-weight: 600;
  color: var(--vd-color-gray-700);

  &:not(:last-child) {
    border-bottom: 1px solid var(--vd-color-border-light);
  }
}

.logo {
  height: 24px;
  line-height: 24px;
  font-size: 24px;
  margin-right: 8px;
}

.arrow {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--vd-color-gray-600);
}

.hoverable,
.item {
  cursor: pointer;

  &:hover {
    background-color: var(--vd-color-gray-300);
    border-radius: 4px;
  }
}

.item {
  padding: 0 var(--vd-spacing-base);
  font-size: var(--vd-font-size-h5);
  color: var(--vd-color-gray-600);
  height: 38px;

  &:not(:first-child)::after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: var(--vd-color-border-extra-light);
    left: var(--vd-spacing-base);
    right: var(--vd-spacing-base);
    bottom: 0;
  }
}

.name {
  flex: 1;
}

.subName {
  color: var(--vd-color-gray-400);
  justify-self: flex-end;
}
