.root {
  height: var(--nav-height);
  width: 100%;
  padding: 0 var(--vd-spacing-xs);
  background-color: #f7f8fb8c;
  backdrop-filter: saturate(180%) blur(20px);
  border-bottom: 1px solid var(--vd-color-gray-300);
  z-index: 100;
}

.root:global(.fixed) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .body {
    max-width: 900px;
    margin: auto;
  }
}

.body {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  height: 100%;
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(190deg, var(--vd-color-primary) 35%, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  img {
    height: 100%;
  }
}

.extra {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
