.root {
  :global(.anticon) {
    color: gray;
    margin: 0 4px;
  }

  display: flex;
  gap: 6px;
}

.object {
  display: flex;
  align-items: center;
  line-height: 1.8;
  max-width: 16em;

  .modifier {
    color: var(--vd-color-gray-500);
    margin-left: 4px;
    white-space: nowrap;
    flex-shrink: 0;
  }

  .name {
    flex: 1;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
