.root {
  border-bottom: 1px solid var(--vd-color-border-light);
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.logo,
.content,
.extra {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 58px;
  height: 100%;
  font-size: 56px;
  background-color: var(--vd-color-gray-200);
  border-right: 1px solid var(--vd-color-border-light);
}

.content {
  flex: 1;
}

.home {
  color: var(--vd-color-gray-700);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.split {
  color: var(--vd-color-gray-800);
  margin: 0 var(--vd-spacing-xs);
  font-size: 12px;
}

.title {
  font-weight: 500;
}

.extra {
  height: 100%;
  flex-shrink: 0;
  padding: 0 12px;
}
