.layout {
  min-height: 100vh;
  .logo {
    padding: var(--vd-spacing-sm) var(--vd-spacing-base);
    border-bottom: 2px solid #f5f5f5;
  }
  .menu {
    border-right: 0 !important;
  }
  .collapsed {
    position: absolute;
    top: 50%;
    right: -18px;
    transform: translateY(-50%);
    width: 20px;
    height: 60px;
    background: var(--vd-color-gray-300);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
  }
  .user {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: var(--vd-spacing-sm) var(--vd-spacing-base);
    white-space: nowrap;
    overflow: hidden;
    .userName {
      margin: 0 var(--vd-spacing-xs);
    }
  }

  .siteLayout {
    .content {
      margin: var(--vd-spacing-sm);
      .main {
        .pageTitle {
          font-size: var(--vd-font-size-h3);
          font-weight: bold;
          padding-bottom: var(--vd-spacing-base);
        }
        background: var(--vd-color-gray-0);
        padding: var(--vd-spacing-base);
        min-height: 100%;
      }
    }
  }
}
