.avatar {
  background-color: var(--vd-color-gray-400);
  background-clip: content-box;
  cursor: pointer;
}

.profile {
  color: gray;
  cursor: default;
}

.version {
  font-size: 12px;
  color: var(--vd-color-gray-400);
}
