.meta {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 13px;
  gap: var(--vd-spacing-lg);
  color: var(--vd-color-font-regular);
  margin-top: -20px;
}

.editor {
  position: relative;
}
