.login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--vd-color-bg);
  width: 400px;
  padding: var(--vd-spacing-sm);
  border-radius: var(--vd-border-radius-md);

  :global(.ant-form-item) {
    margin-bottom: 18px;
  }
}

.forgot {
  text-align: right;
}
.submit {
  margin-bottom: var(--vd-spacing-xs);
}
.code {
  width: 250px;
  margin-right: var(--vd-spacing-sm);
}
.codeBtn {
  width: 100px;
}
