.register {
  :global(.ant-form-item-label > label) {
    height: 1em !important;
  }
}

.verify {
  display: flex;
  gap: var(--vd-spacing-sm);
  .codeInput {
    flex: 1;
  }
}
.codeBtn {
  width: 100px;
}
