.root {
  margin-bottom: var(--vd-spacing-sm);
}

.add {
  width: 100%;
}

.item {
  display: flex;
  align-items: center;
  padding: 4px;
  border: 1px solid var(--vd-color-border);
  background-color: white;
  border-radius: 4px;
  margin-bottom: var(--vd-spacing-xs);
  user-select: none;
  font-size: var(--vd-font-size-h6);

  &:global(.editing) {
    outline: 2px solid var(--vd-color-gray-700);
  }
}

.itemContent {
  flex: 1;
  overflow: hidden;
  word-break: break-word;
}

.itemActions {
  display: flex;

  :global(.anticon) {
    font-size: 15px;
    padding: 2px 4px;
    cursor: pointer;
  }
}
