html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--vd-font-family);
  font-size: var(--vd-font-size-h4);
  color: var(--vd-color-font-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.u-danger {
  color: var(--vd-color-danger);
}

.u-warning {
  color: var(--vd-color-warning);
}

.u-gray-500 {
  color: var(--vd-color-gray-500);
}

.u-tc {
  text-align: center;
}

.u-fs-5 {
  font-size: var(--vd-font-size-h5);
}

.u-ml-xs {
  margin-left: var(--vd-spacing-xs);
}

.u-bold {
  font-weight: bold;
}

.u-fw {
  width: 100%;
}

.u-link {
  color: var(--vd-color-link);
  cursor: pointer;
}

.u-link:hover {
  color: var(--vd-color-link-hover);
  text-decoration: underline;
}
