html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--vd-font-family);
  font-size: var(--vd-font-size-h4);
  color: var(--vd-color-font-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.u-danger {
  color: var(--vd-color-danger);
}

.u-warning {
  color: var(--vd-color-warning);
}

.u-ml-xs {
  margin-left: var(--vd-spacing-xs);
}

.u-bold {
  font-weight: bold;
}

.u-fw {
  width: 100%;
}
